#dashboard {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

@media (max-width: 767px) {
    #dashboard {
        flex-direction: column;
    }
}

.card {
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 300px;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 47px -8px rgba(0,0,0,0.77);
    -moz-box-shadow: 10px 10px 47px -8px rgba(0,0,0,0.77);
    box-shadow: 10px 10px 47px -8px rgba(0,0,0,0.77);
    transition: 0.3s;
}

.card:hover {
    background-color: #E5E5E5;
}
